<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>20/02/29 14:43:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@3e6fa38a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/02/29 14:42:35</td>   <td>-44257</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@3e6fa38a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/02/29 14:43:18</td>   <td>-907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@3e6fa38a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/02/29 14:42:54</td>   <td>-25642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.checkAllSwahiliPortal()[pri:1, instance:test.Test01Suscripcion@3e6fa38a]">checkAllSwahiliPortal</td> 
  <td>main@1458540918</td>   <td></td> </tr>
</table>
